<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p>
        <b>Your options:</b>
    </p>
    <p>
Graph of temperature for <a href="http://localhost:8092/ui/oneDay?day=01&amp;month=01&amp;year=2015">One Day</a> (day, moth, year) in a specific location (Station Id)
    </p>
    <p>
Graph of daily (max and min) temperature for a <a href="http://localhost:8092/ui/fullMonth">full month</a> (moth, year) in a specific location (Station Id)
    </p>
    <p>
    </p>
    <p>
        <b>Your challenges:</b>
    </p>
    <p>
        1. compare the summer (July + August) of 2017 to any summer since 2000
    </p>
    <p>
        2. do that for several stations in different areas of Israel
    </p>
    <p>
    </p>
    <p>
        Some ideas: </p><p>
        <a href="https://www.nytimes.com/interactive/2017/07/28/climate/more-frequent-extreme-summer-heat.html">Summers are getting hotter?</a> </p><p>
        <a href="https://www.haaretz.co.il/news/science/.premium-1.4479220">שינויי האקלים מאלצים את חברות התעופה להשקיע מיליארדים כדי להסתגל</a> </p><p>
        <a href="http://www.mako.co.il/news-israel/local-q3_2017/Article-f10225ed13f7d51004.htm">יולי 2017: החם ביותר מזה עשור</a> </p><p>
        <a href="https://www.yediot.co.il/articles/0,7340,L-4997534,00.html">אנחנו נמצאים בעיצומו של הקיץ הכי חם בישראל אי פעם</a> </p><p>
.    </p>

</body>
</html>